
###########################################################
#      Start Gcode:
###########################################################

[gcode_macro start_gcode]
description: Gcode at the start of printing.
variable_bed_print_temp: 50
gcode:
   {% set lang = printer.save_variables.variables.lang | int %}
   {% set bed_temp = params.BED_TMP | default(50) | int %}                      
   {% set ext_temp = params.EXT_TMP | default(200) | int %}
   {% set chamber_temp = params.CHAMBER_TMP | default(15) | int %}
   {% set chamber_min_temp = params.CHAMBER_MIN_TMP | default(35) | int %}                    
   SET_GCODE_VARIABLE MACRO=start_gcode VARIABLE=bed_print_temp VALUE={ bed_temp }
   SET_LED LED=extruder RED=0.0 GREEN=0.09 BLUE=0.0 WHITE=0.0 INDEX=1   # Extruder status led
   G28

   M104 S150                      # Set Extruder temp to 150C (no wait, for save target 5temp to variable and load when Bed Mesh)

   M117 {{1: "Bed tilt adjust.", 2: "Rovnani podlozky", 3: "Bett neigungsve."}.get(lang, "Bed tilt adjust.")}  
   M118 {{1: "Bed tilt adjusting...", 2: "Vyrovnávám náklon podložky...", 3: "Bett neigungsverstellung..."}.get(lang, "Bed tilt adjusting")}
   Z_TILT_ADJUST
   
   G90                            # XYZ Absolute
   G1 Y251.5 Z10 F2700            # Move the extruder to backward (away from the bed) while the bed heats up (♞ Chess knight movement style).
   G1 X73 F2700 
   M141 S0                        # Set chamber Cooling OFF during heating procedures.
   M400                           # Wait for current moves to finish, for right timing of messages below  
   M117 {{1: "Bed heating...", 2: "Nahrivam podlozku", 3: "Bettheizung..."}.get(lang, "Bed heating")}  
   M118 {{1: "🔳🔥 Bed heating...", 2: "🔳🔥 Nahřívám podložku...", 3: "🔳🔥 Bettheizung..."}.get(lang, "Bed heating")}
   M190 S{bed_temp}               # Heat Bed to print temp and wait

   M191 S{chamber_min_temp}       # Wait for the chamber to warm up. (only if set)

   M117 Bed Mesh Leveling...
   M118 Bed Mesh Leveling...
   BED_MESH_CALIBRATE             # Bed Mesh Leveling by 3D Touch 

   Park_Toolhead                  # Front park position
   M400                           # Wait for current moves to finish, for right timing of messages below   
   M117 {{1: "Final E heating", 2: "Finalni E ohrev", 3: "Final E heizung"}.get(lang, "Final E heating")}  
   M118 {{1: "✒️🔥 Final Nozzle heating...", 2: "✒️🔥 Finální nahřívání Trysky...", 3: "✒️🔥 Endheizung der Düse..."}.get(lang, "Final E heating")}
   M109 S{ext_temp}               # Final extruder heating for printing temperature and waiting

   G90                            # XYZ Absolute
   G1 Z0.8 F600                   # Z down
   G92 E0                         # Set E position to 0, reset
   G1 E40 F180                    # Fill the nozzle and Print Start motion cut the filament off by the edge of the bed

   M400                           # Wait for current moves to finish, for right timing of messages below
   M117 {{1: "Printig!", 2: "Tisknu!", 3: "Drucken!"}.get(lang, "Printig!")}  
   M118 {{1: "🚀🏁 Printig!", 2: "🚀🏁 Tisknu!", 3: "🚀🏁 Drucken!"}.get(lang, "Printig!")}
   G92 E0                         # Set E position to 0, reset
   M141 S{chamber_temp}           # Exhaust fans speed for chamber Cooling / Filtration during printing.


###########################################################
#      End Gcode:
###########################################################

[gcode_macro end_gcode]
description: Gcode at the end of printing.
gcode:
   {% set lang = printer.save_variables.variables.lang | int %} 
   G91                            # Relative XYZ
   G92 E0                         # Set E position to 0, reset
   G1 E-2 F1200                   # Retract the filament (-2mm)
   G1 X2 F2400                    # Wipe Nozzle (2mm to right)
   G1 X-4.24 Y4.24 Z0.3 F2400     # 3 degree Ramp Move: 6mm diagonal (to left and back)
   G1 Z10 F600                    # Z Hop 10mm

   BED_MESH_CLEAR                 # from now no adjustment in the Z axis when toolhed is moving

   G90                            # Absolute XYZ
   M104 S0                        # Nozzle Off
   M140 S0                        # Bed Off
   G28 X0                         # X Home
   M73 P100                       # Set print progres, in percent
   M400                           # Wait for current moves to finish, for right timing of messages below  
   M117 {{1: "Printing done!", 2: "Tisk dokoncen!", 3: "Drucken fertich!"}.get(lang, "Printing done!")}  
   M118 {{1: "🪂🏁 Printing done!", 2: "🪂🏁 Tisk dokončen!", 3: "🪂🏁 Drucken fertich!"}.get(lang, "Printing done!")}
   G1 Y235 F2700                  # Go Y axis to back position (away from bed)
   M84                            # Steppers Off 
   SET_LED LED=extruder RED=0.0 GREEN=0.0 BLUE=0.0 WHITE=0.09 INDEX=1    # Extruder status led
   # alert_beep                   # M300 Beeper	
   # M141 S255                    # Example of chamber filtration at the end of printing.
   # ACTIVATE_POWER_OFF           # Printer OFF (Example of directly command, or to use as a macro button during printing).


